{% extends 'basic.html' %}
{% block title %}Registration{% endblock title %}
{% block body %}
{% load static %}
<div class="container my-3">
  <form action="{% url 'register' %}" method="post">{% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Enter Username</label>
      <input type="text" class="form-control" id="username" name="uname" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Mobile Number</label>
      <input type="phone" class="form-control" id="phone" name="phone" autocomplete="off">
    </div>
    <div class="mb-3">
      <label>Select Gender</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="male" value="Male">
        <label class="form-check-label" for="male">
          Male
        </label>
      </div>
      <div class="form-check">

        <input class="form-check-input" type="radio" name="exampleRadios" id="female" value="Female">
        <label class="form-check-label" for="female">
          Female
        </label>
      </div>
    </div>
    <div class="mb-3">
      <label for="pass1" class="form-label">Enter Password</label>
      <input type="password" class="form-control" id="pass1" name="pass1" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="pass2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="pass2" name="pass2" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
{% load static %}
<script src="{% static 'home/home.js' %}"></script>
{% endblock body %}