<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemoSite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h3 class="alert alert-success text-center mb-3">Practice Form</h3>
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'demosite' %}" method="post">
                {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control w-50" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="text" class="form-control w-50" id="lname" name="lname">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control w-50" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="Img" class="form-label">Your Photo</label>
                        <input type="file" class="form-control w-50" id="Img" name="Img">
                    </div>

                    <label>Gender</label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input ms-3" type="radio" name="gender" id="male" value="Male">
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="hobbies">Hobbies</label>
                    <select class="form-select mt-2" multiple size="3" aria-label="size 3 select" name="hobbies" id="hobbies">
                       
                        <option value="Cricket">Cricket</option>
                        <option value="Reading">Reading</option>
                        <option value="Dancing">Dancing</option>
                    </select>
                </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-success mt-3" value="Submit">
                    </div>



                </form>

            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>